{% extends "admin/adminbase.html" %}


{% block content %}
<div>
    <h4>Blog List</h4>
    <div class="row">
        <div class="col-md-12">
            <a href="/admin/category/create">Create Category</a> |
            <a href="/admin/blog/create">Create Blog</a>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Image</th>
                        <th>Published Date</th>
                        <th>Modified Date</th>
                        <th>Status</th>
                        <th>View Count</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for blog in blog_list %}
                    <tr>
                        <td>{{blog.id.unwrap()}}</td>
                        <td>{{blog.title}}</td>
                        <td>
                            {% if blog.image.as_ref().is_some() %}
                            {{blog.image.as_ref().unwrap()}}
                            {% endif %}
                        </td>
                        <td>{{blog.published_date}}</td>
                        <td>
                            {% if blog.modified_date.as_ref().is_some() %}
                            {{blog.modified_date.as_ref().unwrap()}}
                            {% endif %}
                        </td>
                        <td>{{blog.is_active}}</td>
                        <td>{{blog.view_count}}</td>
                        <th>
                            <a href="/admin/blog/{{blog.id.unwrap()}}/update">Update</a>
                            <a href="/admin/blog/{{blog.id.unwrap()}}/delete">Delete</a>
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}