<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Pages</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    {% block css %}
    {% endblock %}
</head>
<body class="container">
    <h3>Admin Panel</h3>
    <a href="/auth/admin-panel">Admin Home</a> |
    <a href="/auth/add-social-link">Create Social Link</a> |
    <a href="/experience/admin/create">Create Experience</a> |
    <a href="/blog/admin/create">Create Blog</a> |
    <a href="/blog/admin/list">Blog List</a>
    {% block content %}

    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    {% block js %}
    {% endblock %}

</body>
</html>