{% extends "admin/adminbase.html" %}


{% block content %}

<div class="row mt-3">
    <div class="col-md-4 mx-auto">

        <h3>Social Media Update Form</h3>
        <form action="" method="POST">
            <div>
                <label for="social_media">Social Media</label><br>
                <input type="text" class="form-control" name="social_media" value="{{social_link.social_media}}" placeholder="Social Media Name..." required>
            </div>
            <br>
            <div>
                <label for="social_link">Social Media Link</label><br>
                <input type="text" class="form-control" name="social_link" value="{{social_link.social_link}}" placeholder="Social Media Link..." required>
            </div>
            <br>
            <button class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>

{% endblock %}