{% extends "admin/adminbase.html" %}


{% block content %}

<h4>Block create Page</h4>
<form action="" method="POST">
    <div>
        <label for="company_name">Company Name</label>
        <input type="text" name="company_name" class="form-control" value="{{experience.company_name}}" required>
    </div>
    <br>
    <div>
        <label for="company_link">Company Link</label>
        <input type="text" name="company_link" class="form-control" value="{{experience.company_link}}" required>
    </div>
    <br>
    <div>
        <label for="your_position">Your Position</label>
        <input type="text" name="your_position" class="form-control" value="{{experience.your_position}}" required>
    </div>
    <br>
    <div>
        <label for="start_date">Start Date</label>
        <input type="date" name="start_date" class="form-control" value="{{experience.start_date}}" required>
    </div>
    <br>
    <div>
        <label for="end_date">End Date</label>
        <input type="date" name="end_date" value="{{experience.end_date.as_ref().unwrap()}}" class="form-control">
    </div>
    <br>
    <div>
        <label for="responsibility">Responsibilities</label>
        <input type="text" name="responsibility" value="{{experience.responsibility.as_ref().unwrap()}}" class="form-control" required>
    </div>
    <br>
    <div>
        <label for="skills">Skills</label>
        <input type="text" name="skills" value="{{experience.skills.as_ref().unwrap()}}" class="form-control" required>
    </div>
    <br>
    <div>
        <label for="order">Order</label>
        <input type="number" name="order" value="{{experience.order}}" class="form-control" required>
    </div>
    <br>
    <button class="btn btn-primary">Save Experience</button>
</form>

{% endblock %}
