<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dipak Niroula | Senior Software Engineer</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="container">

    <div class="header">
        <ul>
            <li class="left-item"><a href="">Dipak Niroula</a></li>
            <div class="right-items">
                <li><a href="/">Home</a></li>
                <li><a href="/blogs/">Blogs</a></li>
                <li><a href="/contact/">Contact</a></li>
            </div>
        </ul>
    </div>
    {% block content %}

    {% endblock %}

    <p class="text-center">Built using Axum Framework of Rust Programming Language</p>
</div>

</body>
</html>