<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dipak Niroula | Senior Software Engineer</title>
</head>
<body>
    <div class="header">
        <ul>
            <li><a href="">Dipak Niroula</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/blogs/">Blogs</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>
    </div>
    {% block content %}

    {% endblock %}
</body>
</html>