{% extends "adminbase.html" %}


{% block content %}

<h4>Block create Page</h4>
<form action="/blog/create" method="POST">
    <div>
        <label for="title">Blog Title</label>
        <input type="text" name="title" class="form-control" required>
    </div>
    <br>
    <div>
        <label for="content">Content</label>
        <textarea name="content" rows="10" class="form-control" required></textarea>
    </div>
    <br>
    <button class="btn btn-primary">Save Blog</button>
</form>

{% endblock %}