{% extends "base.html" %}
{% block blogs %}active{% endblock %}

{% block content %}
<div class="section">
    <div class="row">
        <div class="col-md-12">
            {% for blog in blog_list %}
            <div class="container mt-5">
                <article class="card p-3">
                    <h4 class="mb-4">{{ blog.title }}</h4>
                    {% if blog.image.as_ref().is_some() %}
                    <hr>
                    <img src="/{{ blog.image.as_ref().unwrap() }}" alt="" class="img-fluid">
                    {% endif %}
                </article>
            </div>

            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}