{% extends "base.html" %}
{% block home %}active{% endblock %}

{% block title %} Professional Software Engineer {% endblock %}
{% block description %} Dipak Niroula is a Professional Software Engineer, Programmer, Developer, Mentor, Learner. {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <h5>Introduction</h5>
                <hr>
                <p>Senior Software Engineer at <a href="https://logpoint.com" target="_blank">Logpoint Nepal Pvt.
                    Ltd</a>
                </p>
                <p>Engineer | Programmer | Developer | Learner | Mentor | Leader </p>
                <p>8+ years of Experience in Software Engineering Field</p>
                <img src="/static/dni_profile.jpeg" alt="" class="img-fluid" style="width: 400px;">
            </div>

            <div class="col-md-6">
                <br>
                <br>
                <p>
                    I am Dipak Niroula, Senior software engineer with over 8 years of experience in designing, developing, and scaling Software.
                    I have expertise in Python, Rust, Kafka, and PostgreSQL, etc. with a focus on building secure, high-performance backend
                    systems. I have experience in completing complex projects from concept to deployemnt, leading cross-functional teams,
                    mentoring junior engineers, and driving innovation through modern DevOps practices.
                </p>

                <h5>Find me on Social Media</h5>
                <hr>
                {% for social_link in social_links %}
                <p>{{social_link.id.unwrap()}} {{social_link.social_media}}: <a href="{{social_link.social_link}}"
                                                                                target="_blank">{{social_link.social_link}}</a>
                </p>

                {% endfor %}
            </div>
        </div>
        <hr>
        <div class="row mt-3">
            <div class="col-md-12">
                <p class="text-center"><a href="/my-resume">View my Resume</a></p>
            </div>
        </div>
    </div>
</div>


{% endblock %}