{% extends "base.html" %}
{% block home %}active{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6">

        <p><u>{{ current_position }}</u> at <a href="{{company_link}}">{{ current_company }}</a></p>
        <img src="/static/dni_profile.jpeg" alt="" style="height: 300px;">

        <h3>Find me on Social Media</h3>
        {% for social_link in social_links %}
        <p>{{social_link.id.unwrap()}} {{social_link.social_media}}: <a href="{{social_link.social_link}}" target="_blank">{{social_link.social_link}}</a></p>
        {% endfor %}

    </div>

    <div class="col-md-6">
        <h2>Skills</h2>
        <ul>
            {% for (skill_name, skills) in skills.iter() %}
            <li>
                <h3>{{ skill_name }}</h3>
                <ul>
                    {% for skill in skills %}
                    <li>{{ skill }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock %}