{% extends "base.html" %}


{% block resume %}active{% endblock %}

{% block css %}

<style>
    p {
        margin: 3px 1px;
    }
</style>
{% endblock %}


{% block content %}
<div class="section">
    <div class="row" id="printable">
        <div class="col-md-12">
            <div class="card p-3">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-primary">Dipak Niroula</h4>
                        <p>Software Engineer | Programmer | Developer | Mentor | Leader | Learner </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Contact Information</h5>
                        <p>Full Name: Dipak Niroula</p>
                        <p>Email: sangit.niroula@gmail.com</p>
                        <p>Mobile: +977 9849978896 | +977 9823371327</p>
                        <p>Address: Kathmandu, Bagmati Province, Nepal</p>
                    </div>
                    <div class="col-md-6">
                        <h5>Professional Accounts</h5>
                        <p>Website: <a href="https://dipakniroula.com.np"
                                       target="_blank">https://dipakniroula.com.np</a></p>
                        <p>Github Profile: <a href="https://github.com/ecedreamer" target="_blank">https://github.com/ecedreamer</a>
                        </p>
                        <p>Linkedin Profile: <a href="https://linkedin.com/in/dipak-niroula-90b11610b/" target="_blank">https://linkedin.com/in/dipak-niroula-90b11610b/</a>
                        <p>Youtube Channel: <a href="https://www.youtube.com/@sangitniroula/videos" target="_blank">https://youtube.com/@sangitniroula</a>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <h5> Skills </h5>
                        <div class="row">
                            <div class="col-md-6 mt-2">
                                <div class="card p-2">
                                    <div class="card-header">
                                        <p>Software Engineering Skills</p>
                                    </div>
                                    <div class="card-body">
                                        <p><i class="bi bi-arrow-right"></i> Custom Software Design & Development</p>
                                        <p><i class="bi bi-arrow-right"></i> Web Application Development</p>
                                        <p><i class="bi bi-arrow-right"></i> Microservices Architecture Design and Development</p>
                                        <p><i class="bi bi-arrow-right"></i> Distributed System Design and Development</p>
                                        <p><i class="bi bi-arrow-right"></i> Object-Oriented & Functional Programming</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-2">
                                <div class="card p-2">
                                    <div class="card-header">
                                        <p>Programming Languages & Frameworks Skills</p>
                                    </div>
                                    <div class="card-body">
                                        <p><i class="bi bi-arrow-right"></i> Major Experience: Python, Rust, JavaScript, Shell Scripting, SQL</p>
                                        <p><i class="bi bi-arrow-right"></i> Minor Experience: Java, Go, C, C++, etc.</p>
                                        <p><i class="bi bi-arrow-right"></i> Python Based: Django, FastAPI, Starlette, etc. </p>
                                        <p><i class="bi bi-arrow-right"></i> Rust Based: Axum, Actix</p>
                                        <p><i class="bi bi-arrow-right"></i> JavaScript based: NodeJS, ExpressJS, ReactJS etc.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-2">
                                <div class="card p-2">
                                    <div class="card-header">
                                        <p>Tools/Technologies & others</p>
                                    </div>
                                    <div class="card-body">
                                        <p><i class="bi bi-arrow-right"></i> Message Broker: Kafka, Redis, ZeroMQ, RabbitMQ, ActiveMQ etc.</p>
                                        <p><i class="bi bi-arrow-right"></i> Databases: Postgres, MySQL, SQLite, MongoDB, Redis, etc.</p>
                                        <p><i class="bi bi-arrow-right"></i> ORMs: SQLAlchemy, Django ORM, Diesel ORM etc.</p>
                                        <p><i class="bi bi-arrow-right"></i> GIT vcs, Jira, Trello, Aha, etc. </p>
                                        <p><i class="bi bi-arrow-right"></i> Docker, Kubernetes, nginx</p>
                                        <p><i class="bi bi-arrow-right"></i> REST API, GraphQL, GRPC, etc. </p>
                                        <p><i class="bi bi-arrow-right"></i> Network Programming</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-2">
                                <div class="card p-2">
                                    <div class="card-header">
                                        <p>Soft Skills</p>
                                    </div>
                                    <div class="card-body">
                                        <p><i class="bi bi-arrow-right"></i>  Clear Verbal and Written Communication in English & Nepali Language</p>
                                        <p><i class="bi bi-arrow-right"></i> Problem-Solving & Fast Learning Ability</p>
                                        <p><i class="bi bi-arrow-right"></i> Dedicated and Committed</p>
                                        <p><i class="bi bi-arrow-right"></i> Leadership, Ownership, Agile</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <h5>Experiences (8+ years in Software Engineering)</h5>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6><a href="https://logpoint.com" target="_blank">Logpoint Nepal Pvt. Ltd</a>
                                        </h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="col-md-9">
                                            <h6>Senior Software Engineer | January 2022 - Present( 2 years 8
                                                months)</h6>
                                            <p><strong>Responsibility:</strong> Maintain Core Engine of Logpoint SIEM, Enhance the Performance of the Services, Add new Features to it</p>
                                            <p><strong>Skills:</strong> Python, Java, Rust, Kafka, ZMQ, MongoDB, Ubuntu, Framework Design/Development, etc. </p>
                                        </div>
                                    </div>

                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6><a href="https://sarobartech.com" target="_blank">Sarobar Technology Pvt. Ltd.</a></h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <h6>Co-founder & Lead Software Engineer | December 2016 - January 2022( 5 years 2 months)</h6>
                                            <p><strong>Responsibility:</strong> Design, Develop Web Applications, Lead
                                                Team, Mentoring,
                                                Handle complex issue & blockers</p>
                                            <p><strong>Skills:</strong> Python, JavaScript, Django, FastAPI, ReactJS,
                                                Postgres, MongoDB,
                                                RabbitMQ, Redis, Celery</p>
                                        </div>
                                        <hr>
                                        <div class="col-md-9">
                                            <h6>Web Development Trainer | December 2016 - January 2022( 5+ years)</h6>
                                            <p>Responsibility: Training Web Application Development</p>
                                            <p><strong>Skills:</strong> Python, Django, JavaScript, etc. </p>
                                        </div>

                                    </div>

                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6><a href="https://prixa.net/" target="_blank">Prixa Technology Pvt. Ltd.</a>
                                        </h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <h6>Software Engineer | July 2016 - December 2016( 6 months)</h6>
                                            <p><strong>Responsibility:</strong> Design, Develop Web Applications </p>
                                            <p><strong>Skills:</strong> Python, JavaScript, Django, Postgres, Celery</p>
                                        </div>

                                    </div>

                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6><a href="https://facebook.com/raitnepal">RAIT Pvt. Ltd</a></h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <h6>Co-founder and Electronics Engineer | April 2015 - July 2016( 1 Year 4
                                                months)</h6>
                                            <p><strong>Responsibility:</strong> Electronics, Robotics, Training </p>
                                            <p><strong>Skills:</strong> Programming for Microcontroller using C++,
                                                Electronics
                                                Engineering, Python</p>
                                        </div>

                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <p><a href="https://softwarica.edu.np/" target="_blank">Softwarica College</a></p>
                                        <p><a href="https://cosmoscollege.edu.np/" target="_blank">Cosmos College</a></p>
                                        <p><a href="https://ncit.edu.np/" target="_blank">NCIT College</a></p>
                                        <p><a href="https://www.eemc.edu.np/" target="_blank">Everest College</a></p>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <h6>Part-time Lecturer | September 2016 - September 2024 ( 7+ years)</h6>
                                            <p>Taught Software Design, Object-Oriented Programming in C++</p>
                                            <p>MicroProcessor, Embedded System, etc. </p>
                                            <p>Electronic Devices & Circuits, Industrial Electronics and Drivers,
                                                etc.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <h5>Academic Qualification</h5>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>Master in Computer Science</h6>
                                    </div>
                                    <div class="col-md-6">
                                        Nepal College of Information Technology <br>
                                        <strong>Pokhara University</strong>
                                    </div>
                                    <div class="col-md-3">
                                        2018-2020 (DropOut)
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>Bachelor in Electronics & Communication Engineering</h6>
                                    </div>
                                    <div class="col-md-6">
                                        Cosmos College of Management & Technology <br>
                                        <strong>Pokhara University</strong>
                                    </div>
                                    <div class="col-md-3">
                                        2012-2016 <br>
                                        Grade: 3.25 / 4
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <h5>Hobbies</h5>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <p><i class="bi bi-arrow-right"></i> Learning & Experimenting new things</p>
                                <p><i class="bi bi-arrow-right"></i> Travelling in the Natural & Spiritual Places</p>
                                <p><i class="bi bi-arrow-right"></i> Spending times with family & Relatives</p>
                                <p><i class="bi bi-arrow-right"></i> Sometimes writing tech articles and making tech videos </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <button href="" class="btn btn-primary mx-auto" id="download-resume">Download</button>
        </div>
    </div>
</div>

<script>
    const btn = document.getElementById("download-resume");
    btn.addEventListener("click", (ev) => {
        ev.preventDefault();
        alert("Downloading")
        var printableContent = document.getElementById('printable').innerHTML;
        var originalContent = document.body.innerHTML;

        document.body.innerHTML = printableContent;
        window.print();

        document.body.innerHTML = originalContent;
    })
</script>

{% endblock %}